@import "../../../css-config/mixins.scss";

.banner {
  background: radial-gradient(ellipse at 50% 50%, #494848, #121111);
  position: relative;
  padding: 50px 0px 80px 0px;
  @include md {
    height: calc(100vh - 80px);
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    @include md {
      flex-direction: row;
      max-width: 1200px;
    }
    .banner-img {
      position: relative;
      z-index: 9;
      width: 300px;
      margin-bottom: 40px;
      @include md {
        width: 440px;
      }
    }
    .text-content {
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include md {
        position: relative;
        left: 50px;
        justify-content: center;
      }
      @include xxl {
        left: 0;
      }
      h1 {
        font-weight: 100;
        text-transform: uppercase;
        font-family: "Chloe-Regular", sans-serif;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 20px;
        @include md {
          font-size: 80px;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
        @include md {
          max-width: 500px;
          line-height: 14px;
        }
      }
      .ctas {
        display: flex;
        justify-content: center;
        gap: 20px;
        .cta-banner {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 500;
          // width: fit-content;
          border: 2px solid #fff;
          padding: 10px 20px;
          cursor: pointer;
          &.V2 {
            background-color: #fff;
            color: black;
          }
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
