@import "../../css-config/mixins.scss";

.footer {
  width: 100%;
  margin-bottom: 75px;
  @include md {
    margin-bottom: 0;
  }
  .footer-content {
    padding: 50px 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    @include md {
      flex-flow: nowrap;
      max-width: 1200px;
      justify-content: space-between;
      padding: 50px 0;
    }
    .col {
      min-width: 150px;
      max-width: 300px;
      .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 16px;
      }
      .text {
        font-family: "Montserrat", sans-serif;
        color: rgba(0, 0, 0, 0.8);
        font-size: 12px;
      }
      .j1 {
        text-align: justify;
      }
      .c-item {
        display: flex;
        margin-bottom: 10px;
        svg {
          flex-shrink: 0;
          font-size: 14px;
          margin-right: 14px;
          margin-top: 6px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
      span {
        &.text {
          display: block;
          margin-bottom: 4px;
          cursor: pointer;
        }
      }
    }
  }
  .bottom-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    .bottom-bar-content {
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      @include md {
        padding: 0;
        height: 60px;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: left;
      }
      .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.5);
        @include md {
          font-size: 14px;
        }
      }
    }
  }
}
